.espacio{
  border-right: 1px solid #CBD1D7;
}
body{
  background-image: url(https://images4.alphacoders.com/646/646937.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contenedor{
  background-color: white;
  opacity: 0.9;
  width: 80%;
  margin: auto;
}
